.sidebar-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80px;
    min-height: 96vh;
    order: 1;

    .icon{
        display: inline-block;
        position: relative;
        margin-top: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: grey;

        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }

        .status{
            position: absolute;
            top: 40px;
            left: 36px;
            border: solid 1px black;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: red;
        }
    }

    .sidebar-bottom{
        margin-top: auto;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;


        hr{
            margin: 0;
            border: none;
            height: 2px;
            width: 40px;
            background-color: gray;
            border-radius: 5px;
            transition: transform 0.5s ease;
        }

        .icon{
            transition: transform 0.5s ease;
        }
        .hr-show{
            transform: translateY(0);
        }
        .hr-hidden{
            transform: translateY(120px);
        }
        .setting-show{
            transform: translateY(0);
        }
        .setting-hidden{
            transform: translateY(130px);
        }
        .logout-show{
            transform: translateY(0);
        }
        .logout-hidden{
            transform: translateY(65px);
        }

        
    }

}

.calendar-container{
    display: inline-block;
    order: 2;
    flex-grow: 1;
    
}

.right-pane-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    order: 3;
    background-color: #e8e8e8;
    box-shadow: -5px 0 15px -15px rgba(0, 0, 0, 0.5);

    .mini-calendar-container{
        background-color: white;
        border-radius: 10px;
        padding: 20px;

        .month-switcher-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;
            align-items: center;
            font-family: 'DM Sans', sans-serif;

            h3{
                margin-left: 5px;
            }

            .buttons-container{
                display: inherit;
                flex-direction: inherit;
                align-items: inherit;

                .buttons{
                    font-size: 30px;
                    background-color: white;
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                    
                    &:hover{
                        background-color: lightgrey;
                        border-radius: 25%;
                    }
                }
            }  
        }

        .mini-calendar{
            border-collapse: separate;
            text-align: center;


            thead{
                font-family: 'DM Sans', sans-serif;
                font-weight: 200;
                th{
                    font-weight: normal;
                    color: grey;
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                }
            }
            tbody{
                font-family: 'Poppins', sans-serif;
                font-weight: normal;

                td{
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    position: relative; /* Make the cell a positioned container */
                    text-align: center; /* Center the content horizontally */
                    vertical-align: middle; /* Center the content vertically */
                }
                .date-cell{
                    &:hover{
                        background-color: lightgrey;
                        border-radius: 50%;
                    }
                    span{
                        position: absolute; 
                        bottom: 0; 
                        left: 50%; 
                        transform: translateX(-50%); 
                        font-size: 3rem; 
                        line-height: 2.5rem;
                    }
                }
            }
            
        }
    } 
        
    
}





/* .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    background-color: #E4E5E6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
} */