body {
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    font-family: 'Dm Sans', sans-serif;
}
h2{
    margin: 0;
    font-family: 'Dm Sans', sans-serif;
}
h3{
    margin: 0;
    font-family: 'Dm Sans', sans-serif;
}
h4{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h5{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h6{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
button{
    cursor: pointer;
}